# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Logs
*.log

# Node
node_modules/
npm-debug.log

# React build
build/
dist/

# Mac / Windows
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.swp